@model IEnumerable<pfeProject2020.Models.SsmsColumn>

@{
    ViewData["Title"] = "Index";
}




<div class="content-wrapper" style="min-height: 1907.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Colonnes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Home">Acceuil</a></li>
                        <li class="breadcrumb-item active">Bases de  Données</li>
                        <li class="breadcrumb-item active">Tables</li>
                        <li class="breadcrumb-item active">Colonnes</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <h2>Index</h2>

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TableName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdTabNavigation)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TableName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdTabNavigation.Id)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>






                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>

    </section>
    <!-- /.content -->
</div>