@model pfeProject2020.Models.SsmsDatabases

@{
    ViewData["Title"] = "Details";
}










<div class="content-wrapper" style="min-height: 1907.88px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Liste des Bases de données</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="Home">Acceuil</a></li>
                        <li class="breadcrumb-item active">Bases de  Données</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <h2>Details</h2>

        <div>
            <h4>SsmsDatabases</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InstanceName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InstanceName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IdInstancesNavigation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IdInstancesNavigation.Title)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </section>
    <!-- /.content -->

</div>




